<link rel="import" href="../bower_components/core-drawer-panel/core-drawer-panel.html"/>
<link rel="import" href="../bower_components/core-header-panel/core-header-panel.html"/>
<link rel="import" href="../bower_components/core-toolbar/core-toolbar.html"/>
<link rel="import" href="../bower_components/core-icon-button/core-icon-button.html"/>
<link rel="import" href="../bower_components/core-pages/core-pages.html"/>
<link rel="import" href="../bower_components/core-menu/core-menu.html"/>
<link rel="import" href="../bower_components/core-item/core-item.html"/>
<link rel="import" href="../bower_components/core-localstorage/core-localstorage.html"/>
