﻿<form onsubmit="javascript:return false">
<label for="title">Tittel på blogg innlegget</label>
<input type="text" name="title"><br/>
<textarea id="newBlogEntry" style="width:100%; height:400px"></textarea>
<input type="button" onclick="javascript:storeNewBlogEntry();" value="Lagre blogg innlegget"/>
</form>