﻿/* Make the input fields for the log inn form fit in the available space on the left */
#left input {
	width: 140px;
}

/* Formating for the create new user dialog */
#newUserDialog label {
	float: left;
	display: block;
	width: 150px;
}

#newUserDialog input {
	width: 300px;
}

#newUserDialog input[type=button] {
	margin-top: 20px;
	margin-left: 100px;
}