﻿<form onsubmit="return false;">
Brukernavn<br/>
<input type="text" title="Din e-post adresse" name="uname"><br/>
Passord<br/>
<input type="password" name="pwd"><br/>
<div style="display:none;color:red">Feil brukernavn/passord</div>
<input type="button" value="Logg på" onclick="javascript:loggInn(this.form)"/>
</form>
<a href="javascript:newUser()">Registrer ny bruker</a>