<link rel="import" href="../bower_components/polymer/polymer.html"/>
<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>

<dom-module id="bookmark-list" attributes="folder">
	<template>
        <template is="x-repeat" items="{{bookmarks}}">
			<div class="row alternate">
				<div class="col-xs-2"><thumbnail-image id="{{item.id}}"></thumbnail-image></div>
				<div class="col-xs-9"><h3 style="margin-top: 5px; margin-bottom: 0px;">
					<a href="{{item.url}}">{{item.title}}</a></h3>
				<p style="margin-bottom: 5px;">{{item.description}}</p></div>
				<div class="col-xs-1">
				<span style="margin-top:10px" class="glyphicon glyphicon-pencil" aria-label="Edit"></span>
				<span class="glyphicon glyphicon-remove" aria-label="Remove"></span>
				</div>
			</div>        
    </template>
    </template>
</dom-module>

<script>
Polymer({
  	is: "bookmark-list",
  	properties: {
  		folder: {
  			type: Number,
  			notify: true
  		}
  	},
  	computeURL: function(id, id1) {
        return "../api/dbImage.php?id="+id;
    },
  	ready: function() {
  		this.employees = [
  		            ];
  		this.bookmarks = [];
  	},
  	attached: function() {
  	},
  	listeners: {
  		'folder-changed': 'folderChanged'
  	},
  	folderChanged: function(e) {
  		var self = this;
  		$.getJSON("api/fetchBookmarks.php", {"id": this.folder}, function(data) {
			self.bookmarks = data;
			
		});
  	}
});
</script>